@import "tailwindcss";
@plugin "daisyui";
@import "swiper/css";
@import "swiper/css/pagination"; /* যদি আপনি Pagination ব্যবহার করেন */
@import "swiper/css/navigation"; /* যদি আপনি Navigation ব্যবহার করেন */
